<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow direct access to API endpoints
   # Deny direct access to API endpoints except for GET and POST from same origin
   RewriteCond %{REQUEST_METHOD} !^(GET|POST)$ [OR]
   RewriteCond %{HTTP_REFERER} !^https?://crowtours\.com [NC]
   RewriteRule ^api/ - [F]
 
   # Allow access to API for GET and POST from same origin
   RewriteCond %{REQUEST_METHOD} ^(GET|POST)$
   RewriteCond %{HTTP_REFERER} ^https?://crowtours\.com [NC]
   RewriteRule ^api/ - [L]

  # Allow direct access to existing files and directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -l
  RewriteRule ^ - [L]

  # Rewrite all other requests to index.html for React routing
  RewriteRule . /index.html [L]

  # Prevent access to .env file
  <FilesMatch "^\.env">
    Order allow,deny
    Deny from all
  </FilesMatch>

  # Prevent access to sensitive directories
  RedirectMatch 403 ^/private_html/?$
  RedirectMatch 403 ^/server/?$
</IfModule>