<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="App Tests">
            <directory suffix="Test.php">./server/tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./server</directory>
        </include>
        <exclude>
            <directory suffix=".php">./server/vendor</directory>
            <directory suffix=".php">./server/tests</directory>
            <directory suffix=".php">./server/api/tracking</directory> <!-- Example: Exclude tracking if not testing -->
            <file>./server/config/db_config_example.php</file>
        </exclude>
    </coverage>
    <php>
        <!-- Define environment variables for testing if needed -->
        <!-- Example: <env name="APP_ENV" value="testing"/> -->
        <!-- Example: <env name="DB_DATABASE" value="test_database_name"/> -->

        <!-- Ensure errors are displayed during tests -->
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>