// _pirate-theme.scss
@import url('https://fonts.googleapis.com/css2?family=Pirata+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.pirate-theme {
  --font-family: 'Merriweather', serif;
  --font-family-heading: 'Pirata One', serif;
  --page-bg: #f4e4c1;
  --text-color: #4a2f1f;
  --button-bg: #6e360d;
  --button-bg-hint: #dfb601;
  --button-text-color: #f0dcb1;
  --button-bg-save: #019c01;
  --button-bg-caution: #be0606;
  --slider-bg-on: #6e360d;
  --slider-bg-off: #bba697;
  --button-hover-bg: #a1552d;
  --button-disabled-bg: #cccccc;
  --button-disabled-text: #666666;
  --input-bg: #f7f1e6;
  --input-text-color: #3f1d1d;
  --link-color: #00406b;
  --border-color: #8b4513;
  --shadow: rgba(94, 94, 94, 0.5);

  // Dark mode colors
  &.dark-mode {
    --page-bg: #2c1b0f;
    --text-color: #f5dbbe;
    --button-bg: #603311;
    --button-bg-hint: #dfb601;
    --button-text-color: #f5dbbe;
    --button-bg-save: #016b01;
    --button-bg-caution: #be0606;
    --slider-bg-on: #6e360d;
    --slider-bg-off: #8a796b;
    --button-hover-bg: #8b3c1a;
    --button-disabled-bg: #cccccc;
    --button-disabled-text: #666666;
    --input-bg: #2a1614;
    --input-text-color: #f5dbbe;
    --link-color: #8b4513;
    --border-color: #f0d7c6;
    --shadow: rgba(243, 243, 243, 0.5);
  }
}
