// _variables.scss (Base Variables)
:root {
  --font-family: 'Roboto', sans-serif;
  --page-bg: #f7f9fc;
  --text-color: #333333;
  --button-bg: #006bb5;
  --button-bg-hint: #dfb601;
  --button-bg-save: #009a00;
  --button-bg-caution: #e63946;
  --button-text-color: #ffffff;
  --button-hover-bg: #005a8a;
  --button-disabled-bg: #cccccc;
  --button-disabled-text: #666666;
  --slider-bg-on: #0069b5;
  --slider-bg-off: #cccccc;
  --link-color: #574dc1;
  --border-color: #d4d4d4;
  --shadow: 0 0 20px rgba(94, 94, 94, 0.5);
  --input-bg: #f9f9f9;
  --input-text-color: #333333;
  --modal-bg: #fafafa;
}

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-mobile: $breakpoint-md - 1;


// Dark Mode Colors (default)
$dark-bg: #121212;
$darker-bg: #0a0a0a;
$dark-accent: #797878;
$dark-accent-B: #d4d4d4;
$spot: #b1f3f8;
$text-color: #e0e0e0;


// Mixins
@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin smooth-transition {
  transition: all 0.3s ease-in-out;
}