/* App.scss */

/* Reset some default styles for better consistency */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  margin: auto;
}
/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: 30px;
  .menu-icon {
    margin: 10px;
    font-size: 1.2em;
    font-weight: 600;
  }
}
/* Sidebar styles */
.sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  z-index: 101;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);

  &.show {
    left: 0;
  }

  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .close-icon {
    font-size: 20px;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  li {
    padding: 15px 20px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #444;
    }

    &:last-child {
      border-top: 1px solid #555;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
/* Define styles for the mobile menu */
.menu {
  position: relative; /* Ensure it can contain the sidebar */
}

/* Define styles for the menu icon */
.menu-icon {
  cursor: pointer;
}

/* Define styles for the sidebar (initially hidden) */
.sidebar {
  position: absolute; /* Position it relative to the parent .menu */
  top: 0;
  left: -200px; /* Initially hidden to the left */
  width: 200px; /* Width of the sidebar */
  height: 100%;
  background-color: #333;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition for the transform property */
}

/* When the sidebar is shown (transformed to 0) */
.menu.mobile-menu .sidebar {
  transform: translateX(0);
}

/* Styles for the sidebar content (navigation links) */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

/* Define styles for the menu icon when the sidebar is open */
.menu.mobile-menu.show-sidebar .menu-icon {
  content: '✕'; /* Display '✕' when the sidebar is open */
}

/* Content area styles */
.main-container {
  margin:auto;
  margin-top: 60px;
  width: 100%;
}
.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #fffef9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

nav ul  {
  display: flex;
}
nav ul li a {
  margin-right: 20px;
  list-style: none;
  color: white; 
}
