/* Friends.scss */
@import 'variables';

.friends-search {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.search-results,
.friend-requests,
.friends-list {
  margin-bottom: 20px;
  min-width: 270px;

  h3 {
    margin-bottom: 10px;
    text-align: center;
  }

  .user-item,
  .request-item,
  .friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;

    .friend-info {
      flex-grow: 1;
      margin-left: 10px;
      align-items: center;
    }
  }

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .placeholder-text {
    font-style: italic;
    text-align: center;
    padding: 10px;
  }

  .button-group {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}