/* Header.scss */
@import 'variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $accent-gradient;
  color: $text-color;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: $eerie-shadow;

  .logo {
    font-size: 1.5em;
    font-weight: 700;

    a {
      color: $text-color;
      text-decoration: none;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      @include spooky-transition;

      &:hover {
        color: darken($text-color, 15%);
      }
    }
  }

  .nav-menu {
    @media (max-width: $breakpoint-mobile) {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      background: $accent-gradient;
      height: 0;
      overflow: hidden;
      @include spooky-transition;

      &.open {
        height: auto;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;

      @include respond-to($breakpoint-md) {
        flex-direction: row;
      }

      li {
        margin: 10px 0;

        @include respond-to($breakpoint-md) {
          margin: 0 0 0 20px;
        }

        a {
          color: $text-color;
          text-decoration: none;
          @include spooky-transition;

          &:hover {
            color: darken($text-color, 15%);
            text-shadow: 0 0 5px rgba($text-color, 0.5);
          }
        }
      }
    }
  }

  .menu-toggle {
    font-size: 1.5em;
    cursor: pointer;
    @include spooky-transition;

    &:hover {
      color: darken($text-color, 15%);
      text-shadow: 0 0 5px rgba($text-color, 0.5);
    }

    @include respond-to($breakpoint-md) {
      display: none;
    }
  }
}